<!DOCTYPE html>
<html>
  <head>
    <title>WebCampBackendNwe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <scrift src="https://kit.fontawesome.com/30aaa9591b.js"crossorigin="anonymous"></script>

  </head>

  <body>


    <%= yield %>
  </body>
</html>
